body {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3em;
    width: 1000px;
    height: 1000px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #03A9F4;
}
header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.titles {
    text-align: center;
    background-color: black;
    color: #03A9F4;
    padding-top: 0.2em;
}
h1 {
    font-size: 4em;
    margin-bottom: 0em;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 2em;
    margin-top: 0em;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    border-radius: 10em;
    border-color: #4FC3F7;
    border-width: 2.5px;
    border-style: solid;
}
.grouping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.minimum {
    min-width: 230px;
}
.alignment {
    padding-right: 5em;
}
.fa-gamepad {
    border-radius: 10em;
    border-color: black;
    border-width: 0.05em;
    border-style: solid;
    font-size: 3em;
    padding: 0.1em;
}
.fa-headphones {
    border-radius: 10em;
    border-color: black;
    border-width: 0.05em;
    border-style: solid;
    font-size: 3em;
    padding: 0.1em;
}
.fa-film {
    border-radius: 10em;
    border-color: black;
    border-width: 0.05em;
    border-style: solid;
    font-size: 3em;
    padding: 0.1em;
}
.fa-school {
    color: #03A9F4;
}
.fa-briefcase {
    color: #03A9F4;
}
.fa-address-card {
    color: #03A9F4;
}
hr {
    border-color: #03A9F4;
    border-width: 0.01em;
    border-style: solid;
}
.name {
    color: #03A9F4
}
.line {
    border-bottom-color: #03A9F4;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
}
.space {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
p {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.drop {
    padding-top: 2em;
}
.hobby-img {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 680px) and (min-width: 280px)  {
    body {
    width: 100%;
    height: auto;
    margin: 0em;
    }
    .container {
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr;
    margin: 0.5em;
    }
    header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    nav {
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: unset;
    }
    section {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .alignment {
        padding-right: 0em;
    }
    .grouping {
        flex-direction: column;
    }
    img {
        width: 10em;
    }
    .drop {
        padding-top: 0.2em;
    }